.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local Azure CLI cache/config
.azure/

# macOS
.DS_Store

